    <div class="container mt-5 mb-5 d-flex justify-content-center" >
        <div class="card px-1 py-4">
            <div class="card-body" style="text-align: center;">
                <h3 class="card-title mb-3">VISACION DE MINUTAS</h3>
                <div style="text-align: center;">
                    <span class="step"><i class="fa-solid fa-diagram-project fa-flip-both fa-9x"></i></span>
                </div>
                <h4>TIPO DE VISACION</h4>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        SELECIONE EL TIPO DE VISACION
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Compra Venta Normal</a>
                                <a class="dropdown-item" href="#">Adjudicacion Judicial</a>
                                <a class="dropdown-item" href="#">Anticipo de Legitima</a>
                                <a class="dropdown-item" href="#">Aporte Capital</a>
                                <a class="dropdown-item" href="#">Cesion de Areas</a>
                                <a class="dropdown-item" href="#">Donacion</a>
                                <a class="dropdown-item" href="#">Fusion de Empresas</a>
                                <a class="dropdown-item" href="#">Declaratoria de herederos</a>
                                <a class="dropdown-item" href="#">Primera Transferencia</a>
                                </div>
                            </div>

                            <!-- <label for="name">Name</label> > <input class="form-control" type="text"
                                placeholder="SELECCIONE EL TIPO DE VISACION"-->
                                <br>
                        </div>
                    </div>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                    <label class="form-check-label" for="inlineRadio1">Nro. Inmueble</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2">Cod Catastral</label>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <!-- <label for="name">Name</label> --> <input class="form-control" type="text"
                                placeholder="INGRESE EL DATO QUE CORRESPONDE">
                                <br>
                        </div>
                    </div>
                </div>
                <!--div class=" d-flex flex-column text-center px-5 mt-3 mb-3"> <small class="agree-text">By Booking this
                        appointment you agree to the</small> <a href="#" class="terms">Terms & Conditions</a> </div-->
                
                    <div style="text-align: center;">
                        <div class="d-grid gap-2 d-md-block" >
                            <button class="btn btn-primary btn1" type="button" >Cancelar</button>
                            <button class="btn btn-primary btn2" type="button" >Verificar</button>
                        </div>
                    </div>  
                
            </div>
        </div>
    </div>